/* a few styles for the character portion of the universe */
/* the singular character is rather unstyled but everything before that has some styles  */
.title {
  text-align: center;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #FF7A59;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btn:hover{
  color: #fff;
}
.btnLoading {
  width: 300px;
  padding: 8px 0;
  margin: 20px auto;
  background: #333;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btnLoading:hover {
  color: white;
}

/* styles for the list */
.listContainer {
  background-color: #fff;
  padding: 1px 10px;
  margin: 10px 0;
  border-left: 10px solid #fff;
  border-radius: 0.5rem;
}

.listContainer:hover {
  border-left: 10px solid #ff7a59;
  cursor: pointer;
}

/* styles for the page buttons */
.pageButtons {
  width: 960px;
  display: grid;
  grid-template-columns: 600px 300px;
  grid-gap: 60px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.message {
  text-align: center;
  width: 100%;
}
.pageBtn {
  width: 100px;
  padding: 8px 0;
  margin: 20px auto;
  background: #ff7a5980;
  border: 1px solid #FF7A59;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.pageBtn:hover {
  background: #FF7A59;
  cursor: pointer;
}
